In [ ]:
Q1. List any five functions of the pandas library with execution.

In [3]:
# 1. Five functions of the pandas library with execution are 

# A. 
import pandas as pd

df = pd.read_csv('data.csv')

print(df.head())

#B
import pandas as pd

data = {'Name': ['John', 'Emily', 'Michael'],
        'Age': [25, 30, 35],
        'City': ['New York', 'Paris', 'London']}
df = pd.DataFrame(data)

df.info()
#C
import pandas as pd

data = {'A': [1, 2, 3, 4, 5],
        'B': [10, 20, 30, 40, 50],
        'C': [100, 200, 300, 400, 500]}
df = pd.DataFrame(data)

stats = df.describe()

print(stats)

#D
import pandas as pd

data = {'Name': ['John', 'Emily', 'John', 'Michael', 'Emily'],
        'City': ['New York', 'Paris', 'London', 'New York', 'Paris'],
        'Age': [25, 30, 35, 40, 45]}
df = pd.DataFrame(data)

grouped = df.groupby('Name')['Age'].mean()

print(grouped
# E      
import pandas as pd
import numpy as np

data = {'A': [1, 2, np.nan, 4],
        'B': [5, np.nan, 7, 8],
        'C': [9, 10, 11, np.nan]}
df = pd.DataFrame(data)

df_dropped = df.dropna()

print(df_dropped)

In [ ]:
Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [8]:
import pandas as pd

data = {'A': [10, 20, 30],
        'B': [40, 50, 60],
        'C': [70, 80, 90]}
df = pd.DataFrame(data)

df_reindexed = reindex_dataframe(df)

print(df_reindexed)

    A   B   C
1  10  40  70
3  20  50  80
5  30  60  90

In [ ]:
Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.
For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.

In [10]:
import pandas as pd

def calculate_sum(df):
    
    values = df['Values'].iloc[:3]
    values
    sum_values = values.sum()
    
    print("Sum of the first three values:", sum_values)
    
data = {'Values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)

calculate_sum(df)

Sum of the first three values: 60

In [ ]:
Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [12]:
import pandas as pd

def count_words(df):
    
    df['Word_Count'] = df['Text'].apply(lambda x: len(str(x).split()))


data = {'Text': ['Hello, how are you?', 'I am doing well.', 'Python is awesome!']}
df = pd.DataFrame(data)


count_words(df)

print(df)

                  Text  Word_Count
0  Hello, how are you?           4
1     I am doing well.           4
2   Python is awesome!           3

In [ ]:
Q5. How are DataFrame.size() and DataFrame.shape() different?

In [13]:
1. DataFrame.size: The size attribute returns the total number of elements in a DataFrame. It is calculated by multiplying the number of rows by the number of columns.

2. DataFrame.shape: The shape attribute returns a tuple that represents the dimensions of the DataFrame. It returns the number of rows followed by the number of columns.
import pandas as pd

data = {'A': [1, 2, 3],
        'B': [4, 5, 6]}
df = pd.DataFrame(data)

print("DataFrame size:", df.size)   
print("DataFrame shape:", df.shape)

DataFrame size: 6
DataFrame shape: (3, 2)

In [ ]:
Q6. Which function of pandas do we use to read an excel file?

In [ ]:
import pandas as pd

df = pd.read_excel('data.xlsx')

print(df)

In [ ]:
Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.
The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

In [14]:
import pandas as pd

def extract_username(df):
    
    df['Username'] = df['Email'].str.split('@').str[0]

data = {'Email': ['john@example.com', 'emily@example.com', 'michael@example.com']}
df = pd.DataFrame(data)

extract_username(df)

print(df)

                 Email Username
0     john@example.com     john
1    emily@example.com    emily
2  michael@example.com  michael

In [ ]:
Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:
  A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2

In [17]:
import pandas as pd

def select_rows(df):
    
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)].copy()
    
    selected_rows.reset_index(drop=True, inplace=True)
    
    return selected_rows


data = {'A': [3, 8, 6, 2, 9],
        'B': [5, 2, 9, 3, 1],
        'C': [1, 7, 4, 5, 2]}
df = pd.DataFrame(data)

selected_df = select_rows(df)

print(selected_df)

   A  B  C
0  8  2  7
1  6  9  4
2  9  1  2